<%= render 'partial/navbar' %>


        <div class="container-fluid">
      <div class="row o-3column">
        <div class="col-md-3">
        <div class="panel panel-default">
<div class="panel-heading">
  承認
</div>
<div class="panel-body">
<%= link_to "承認された",  approved_path %>
    </div>
    </div> 
    </div>
        <div class="col-md-6 col-md-offset-1">
        <div class="panel panel-default background">
<div class="panel-heading">
承認した
</div>
<% @approvals.each do |approval| %>
<div class="panel panel-default">
<div class="panel-body">
<p>
<div class="pull-left link-title">
<%= link_to user_path(approval.proposal.user) do %>
<%= image_tag approval.proposal.user.image, class: "img-circle profile-0" %>
<%= approval.proposal.user.name %>
</div>
</p>
<% end %> 
<div class="clearfix">
</div>
<hr>
<%= approval.proposal_content %>
</div>
</div>
<% end %>
</div>
    </div>
        <div class="col-md-2">
        
    </div>
      </div>
    </div> 
      



      