<%= render 'partial/navbar' %>
<!-- this page has instance @other, @messages from message contr ,@conversation from convesation contrl-->

        
 <div class="container-fluid">
  <div class="row o-3column">
    <div class="col-md-3 col-sm-3 hidden-xs">
      <div class="box">
        <div class="text-center">
        <%= image_tag @other.image, class: "img-circle profile-2" %>
        <br>
        <span style="font-size: 20px"><%= @other.name %>とのメッセージ</span>
        </div>        
      </div> 
    </div>

    <div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xm-12">
       <div class="panel panel-default">
                
                
                <div class="panel-body">
                    <%= form_for [@conversation, @conversation.messages.new], remote: true do |f| %>
                        <div class="form-group">
                            <%= f.text_area :body, placeholder: "ここにメッセージを入力してください", class: "form-control", required: "true" %>
                        </div>
                        <%= f.hidden_field :user_id, value: current_user.id %>

                        <div class="actions">
                            <%= f.submit "Send", class: "btn btn-warning pull-right" %>
                        </div>
                    <% end %>
                    <div class="btn btn-info pull-left">
                         <%= link_to "更新", conversation_messages_path(@conversation), :style=>"color:white;" %>
                     </div>
                </div>
            </div>
            
            
            <!-- 部分テンプレートにローカル変数を渡す -->
                <%= render @messages %>
            
    </div>

    <div class="col-md-2 col-sm-2 col-xm-12">
      
    </div>
  </div>
</div>


    