<%= render 'partial/navbar' %>

<div class="container-fluid">
      <div class="row o-3column">
        <div class="col-md-3 col-sm-3 hidden-xs">
        <div class="panel panel-default">
        	<div class="panel-body">
        		<div class="black">
        		<h2>Helpの作り方</h2>
        		<br>
        		<h4>タイトル</h4>
        		<p>あなたがしてもらいたいことが伝わるように、簡潔なタイトルをつけましょう。</p>
        		<p>状況に応じて【急募】などをつけると目に止まりやすくなります。</p>
        		<br>
        		<h4>カテゴリー</h4>
        		<p>Help内容に適したカテゴリーを選択しましょう。</p>
        		<br>
        		<h4>内容</h4>
        		<p>助けてもらいたい内容をできるだけ具体的に記入しましょう。</p>
        		<p>
        		（例）
        		<br>
        		【リクエストの詳細】
        		<br>

				【注意点・禁止事項】
				<br>

				【その他コメント】
				<br>

				不明点があれば、お気軽にご質問ください。
				どうぞよろしくお願いいたします。</p>
        		<br>
        		<h4>エリア</h4>
        		<p>直接会う必要がある場合は各都道府県を、メッセージや電話の場合はインターネットを選択しましょう</p>
        		<br>
        		<h4>形式</h4>
        		<p>対面、オンライン、電話、メッセージから選択しましょう</p>
        		<br>
        		<h4>予算</h4>
        		<p>予算を記入しましょう。</p>
        		<p>相場がわからない場合は「見積もり希望」と記入しましょう。</p>
        		<br>
        		<h4>募集期限</h4>
        		<p>いつまでHelpを募集するか記入しましょう。</p>
        		<br>
        		<h4>公開する</h4>
        		<p>公開するか公開しないかを選ぶことができます。</p>
        		<br>
        		</div>
        	</div>
        </div>	
    </div>
        <div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xm-12">
        <div class="panel panel-default">
				<div class="panel-heading">
					Help作成
				</div>
			
				<div class="panel-body">			
					<!-- ここからフォーム -->
					<%= form_for @listing do |f| %>
						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
                                <label>タイトル</label>
                                <%= f.text_field :title, placeholder: "Helpのタイトルを記載しましょう", class: "form-control", required: "true" %>
                            	</div>
							</div>
						</div>
						<br>

						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
									<label>カテゴリー</label>
									<%= f.select :category, [["執筆代行","執筆代行"], ["読書代行","読書代行"], ["調べもの代行","調べもの代行"], ["ゲーム代行","ゲーム代行"], ["パチンコ行列代行","パチンコ行列代行"], ["飲食店行列代行","飲食店行列代行"], ["話し相手代行","話し相手代行"], ["彼氏彼女代行","彼氏彼女代行"], ["夫婦代行","夫婦代行"], ["友達代行","友達代行"], ["ペットの世話代行","ペットの世話代行"], ["掃除代行","掃除代行"], ["買い物代行","買い物代行"], ["墓参り代行","墓参り代行"], ["引っ越し代行","引っ越し代行"], ["料理代行","料理代行"], ["介護代行","介護代行"], ["エキストラ代行","エキストラ代行"], ["デートプラン代行","デートプラン代行"], ["旅行プラン代行","旅行プラン代行"], ["プラモデル製作代行","プラモデル製作代行"], ["宿題代行","宿題代行"], ["動画編集・作成代行","動画編集・作成代行"], ["資料作成代行","資料作成代行"], ["店決め・予約代行","店決め・予約代行"], ["その他代行","その他代行"]], {prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
								</div>
							</div>
						</div>
						<br>

						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
                                <label>内容</label>
                                <%= f.text_area :content, rows: 8, placeholder: "Helpの内容について記述してください", class: "form-control", required: "true" %>
                            </div> 
							</div>
						</div>
						<br>

						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
									<label>エリア</label>
									<%= f.select :area, [["インターネット","インターネット"], ["北海道","北海道"], ["青森","青森"], ["岩手","岩手"], ["宮城","宮城"], ["秋田","秋田"], ["山形","山形"], ["福島","福島"], ["茨城","茨城"], ["栃木","栃木"], ["群馬","群馬"], ["埼玉","埼玉"], ["千葉","千葉"], ["東京","東京"], ["神奈川","神奈川"], ["新潟","新潟"], ["富山","富山"], ["石川","石川"], ["福井","福井"], ["山梨","山梨"], ["長野","長野"], ["岐阜","岐阜"], ["静岡","静岡"], ["愛知","愛知"], ["三重","三重"], ["滋賀","滋賀"], ["京都","京都"], ["大阪","大阪"], ["兵庫","兵庫"], ["奈良","奈良"], ["和歌山","和歌山"], ["鳥取","鳥取"], ["島根","島根"], ["岡山","岡山"], ["広島","広島"], ["山口","山口"], ["徳島","徳島"], ["香川","香川"], ["愛媛","愛媛"], ["高知","高知"], ["福岡","福岡"], ["佐賀","佐賀"], ["長崎","長崎"], ["熊本","熊本"], ["大分","大分"], ["宮崎","宮崎"],["鹿児島","鹿児島"],["沖縄","沖縄"],["海外","海外"], ], {prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
								</div>
							</div>
						</div>
						<br>

						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
									<label>形式</label>
									<%= f.select :format, [["対面","対面"], ["オンライン","オンライン"], ["電話","電話"], ["メッセージ","メッセージ"]], {prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
								</div>
							</div>
						</div>
						<br>

						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
                                <label>予算</label>
                                <%= f.text_field :budget, placeholder: "(例)1000~3000", class: "form-control", required: "true" %>
                            	</div>
							</div>
						</div>
						<br>

						<div class="row">
							<div class="col-md-12 select">
								<div class="form-group">
                                <label>募集期限</label>
                                <%= f.text_field :deadline, placeholder: "(例)10/30", class: "form-control", required: "true" %>
                            	</div>
							</div>
						</div>
						<br>

						<div class="row">
			              <div class="col-md-12 select">
			                <div class="form-group">
			                  <label>公開する</label>
			                  <%= f.select :active, [["公開する","true"], ["非公開にする","false"]], {prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
			                </div>
			              </div>
			            </div>
            			<br>

						<div class="actions">
							<%= f.submit "保存する", class: "btn btn-warning" %>
						</div>
					<% end %>
				</div>
			</div>
		

    </div>
        <div class="col-md-2 col-sm-2 col-xm-12">
        
    </div>
      </div>
    </div>


