<%= render 'partial/navbar' %>


                    <div class="container-fluid">
      <div class="row o-3column">
        <div class="col-md-3 col-sm-3 hidden-xs">
        
    </div>
        <div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xm-12">
        <div class="panel panel-default">
<div class="panel-heading">
        <%= link_to user_path(@listing.user) do %>
                        <%= image_tag @listing.user.image,class:"img-circle profile-0" %>
                    <% end %>
                    &nbsp;
                     <%= @listing.user.name %>
                     <% if @listing.solution == true %>
                    <div class="pull-right red">
                        <i class="fa fa-check" aria-hidden="true"></i>解決済み
                    </div>
                    <% end %>
        </div>
                  <div class="panel-body">
                    
                    &nbsp;
                    <br>
                    <div class="icon">
                    &nbsp;
                    </div>
                    <div class="text-center icon-content">
                    <%= @listing.title %>
                    </div>
                    <hr>
                    <div class="icon">
                    &nbsp;<i class="fa fa-bookmark-o" aria-hidden="true"></i>カテゴリー
                    </div>
                    <div class="text-center icon-content">
                    <%= @listing.category %>
                    </div>
                    <hr>
                    <div class="icon">
                    &nbsp;<i class="fa fa-map-marker" aria-hidden="true"></i>エリア
                    </div>
                    <div class="text-center icon-content">
                    <%= @listing.area %>
                    </div>
                    <hr>
                    <div class="icon">
                    &nbsp;<i class="fa fa-handshake-o" aria-hidden="true"></i>形式
                  </div>
                    <div class="text-center icon-content">
                    <%= @listing.format %>
                    </div>
                    <hr>
                    <div class="icon">
                    &nbsp;<i class="fa fa-jpy" aria-hidden="true"></i>予算
                    </div>
                    <div class="text-center icon-content">
                    <%= @listing.budget %>
                    </div>
                    <hr>
                    <div class="icon">
                    &nbsp;<i class="fa fa-calendar-check-o" aria-hidden="true"></i>募集期限
                    </div>
                    <div class="text-center icon-content">
                    <%= @listing.deadline %>
                    </div>
                    <hr>
                    <div class="icon">
                    &nbsp;
                    </div>
                    <div class="text-center icon-content">
                    <%= @listing.content %>
                    </div>
                    <br>
                    &nbsp;

                    
       </div>
         </div>
    </div>
        <div class="col-md-2 col-sm-2 col-xm-12">
        <div class="panel panel-default">
            <div class="panel-body">
          <% if Like.find_by(user_id: @current_user.id, listing_id: @listing.id) %>
        <%= link_to("/likes/#{@listing.id}/destroy", {method: "post"}) do %>
          <span class="fa fa-heart like-btn-unlike fa-4x"></span>
        <% end %>
        いいねを取り消す
      <% else %>
        <%= link_to("/likes/#{@listing.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart like-btn fa-4x"></span>
        <% end %>
        いいねする
      <% end %>
      

      <br><br>

      <% if current_user != @listing.user %>
      <% if @listing.solution != true %>
      <%= link_to("/listings/#{@listing.id}/proposals/new") do %>
          <span class="fa fa-hand-paper-o hand-btn fa-4x"></span>
        <% end %>
        提案する
        <% end %>
    <% end %>
    
             </div>     
         </div>
    </div>
      </div>
    </div>

    