<%= render 'partial/navbar' %>

			
		
 <div class="container-fluid">
      <div class="row o-3column">
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-body">
            レビュー<%= @reviews.count %>件
            
            <%= render 'reviews/list' %>
            </div>
            
        </div>
    </div>
        <div class="col-md-6 col-md-offset-1">
        <div class="box">


      <div class="text-center">                      
      <p><%= image_tag @user.image, class: "profile-2 img-circle" %></p>
      <p class="user-name-2"><%= @user.name %></p>
			<p class="user-description-2"><%= @user.description %></p>
      </div> 


      <div class="panel panel-default background">
　　　　<div class="panel-heading">
        Help一覧
        </div> 
       <% @user.listings.each do |listing| %>
       <div class="panel panel-default">
        <div class="panel-body">
          <p>
          <div class="pull-left link-title">
          <%= link_to(listing.title, "/listings/#{listing.id}") %>
          </div>
          </p>
          <div class="clearfix">
          </div>
          <hr>
          <% if listing.solution == true %>
          <div class="pull-left">
            解決済み
          </div>
          <% end %>
          <div class="pull-right">
          <i class="fa fa-jpy" aria-hidden="true"></i>
          <%= listing.budget %>
          &nbsp;
          <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
          <%= listing.deadline %>
          &nbsp;
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <%= listing.area %>
          &nbsp;
          <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
          <% proposals_count = Proposal.where(listing_id: listing.id).count %>
          <%= proposals_count %>
          &nbsp;
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          <% likes_count = Like.where(listing_id: listing.id).count %>
          <%= likes_count %>
          </div>
        </div>
        </div>
        <% end %>
     </div>

    

      
      
         </div>
    </div>

    
        <div class="col-md-2">
          <% if current_user != @user %>
        <div class="panel panel-default">
        <div class="row-space-2">
          <%= link_to "メッセージを送る", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post',class: "btn btn-danger btn-full" %>
        </div>        
         </div>
         <% end %>
    </div>
      </div>
    </div>



