<nav class="navbar navbar-fixed-top navbar-devise">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Help!</a>
    </div>

      <ul class="nav navbar-nav navbar-right">
        <% if (!user_signed_in?) %>
          <!-- ログインしていない時 -->
          <li><%= link_to "Helpを出す", new_listing_path %></li>
          <li><%= link_to "Facebookでログイン", user_facebook_omniauth_authorize_path, class:"btn btn-facebook" %></li>
        <% else %>
          <!-- ログインしている時 -->
          <li>
            <%= link_to conversations_path do %>
              <i class="fa fa-envelope"></i> メッセージ
            <% end %>
          </li>
          <li><%= link_to "Helpを出す", new_listing_path %></li>
          <li><%= link_to "#{current_user.balance}円", balance_path %></li>
          <li><%= link_to "お知らせ", notification_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <% if current_user.provider %>
                <!-- 認証ログインをしている時 -->
                <%= image_tag current_user.image, class:"img-circle profile-0" %>
                <%= current_user.name %>
              <% else %>
                <% current_user.email %>
              <% end %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "プロフィール", user_path(current_user) %></li>
              <li><%= link_to "プロフィール編集",  edit_user_registration_path %></li>
              <li><%= link_to "Help一覧",  listings_path %></li>
              <li><%= link_to("いいね!一覧", "/users/#{current_user.id}/likes") %></li>
              <li><%= link_to "提案した",  proposals_path %></li>
              <li><%= link_to "提案された",  proposaled_path %></li>
              <li><%= link_to "承認した",  approvals_path %></li>
              <li><%= link_to "承認された",  approved_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>          
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

