<%= render "partial/navbar" %>

<div class="container-fluid">
  <div class="row o-3column">
    <div class="col-md-3 col-sm-3 hidden-xs">
      
    </div>

    <div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xm-12">
      <div class="panel panel-default">
  <div class="panel-heading">
  出金申請
  </div>

<div class="panel-body">
<%= form_for :post, url: payouts_create_path, html: {method: "post"} do |f| %>

  <div class="row">
      <div class="col-md-12 select">
        <div class="form-group">
              <label>出金額</label>
              <%= f.text_field :amount, placeholder: "（例）1000", class: "form-control", required: "true" %>
            </div>
      </div>
    </div>
    <br>

  <%= f.hidden_field :transfer, value: false %>
  
  <div class="actions">
    <%= f.submit "出金申請する", class: "btn btn-danger"%>       
  </div>
  <% end %>
</div>
<br>
出金申請を1日から10日にした場合、同月の15日に振り込まれます。 
11日から25日にした場合、当月の月末に振り込まれます。 
26日から月末にした場合、翌月の15日に振り込まれます。 
注意: 出金する際には、振込手数料として300円が出金額から差し引かれます。
</div>
    </div>

    <div class="col-md-2 col-sm-2 col-xm-12">
      
    </div>
  </div>
</div>

