<%= render 'partial/navbar' %>

<div class="container-fluid">
      <div class="row o-3column">
        <div class="col-md-3 col-sm-3 hidden-xs">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="black">  
                <h2>提案の仕方</h2>
                <br>
                <h4>内容</h4>
                <p>あなたの提案内容をできるだけ具体的に記入しましょう</p>
                <br>
                <h4>料金</h4>
                <p>あなたが相手を助けることでもらえる料金になります。<br>相場にあった料金を提示することを心がけてください。</p>
                <br>
                </div>
            </div>
        </div>
    </div>
        <div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xm-12">
        <div class="panel panel-default">
				<div class="panel-heading">
					提案作成
				</div>
			
				<div class="panel-body">			
					<!-- 予約フォーム -->  
                            <%= form_for [@listing, @listing.proposals.new] do |f| %>       
                                           
                                <!-- これは、予約をするときに、一緒におくる、データです。-->
                                <%= f.hidden_field :listing_id, value: @listing.id %>

                                
                                        <label>提案内容</label>
                                <%= f.text_area :proposal_content, rows: 8, placeholder: "内容について記述してください", class: "form-control", required: "true" %>
                                    

                                    
                                        <label>料金</label>
                                <%= f.text_field :proposal_price, placeholder: "1000", class: "form-control", required: "true" %>

                                <br>
      

                                
                                    <%= f.submit "提案する", class: "btn btn-danger btn-wide"%>
                                
                            <% end %>
				</div>
			</div>
		

    </div>
        <div class="col-md-2 col-sm-2 col-xm-12">
        
    </div>
      </div>
    </div>


